@import './css/header.css';
@import './css/about.css';
@import './css/footer.css';
@import './css/projects.css';
@import './css/contacts.css';

body{
    background-color: #0f0f0f;
    font-family: 'Ubuntu', sans-serif;
    color: white
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.main{
    margin: 25px 0;
}

nav, ul{
    list-style: none;
}

section:not(:last-child) {
    margin-bottom: 50px;
}

.icon-link{
    fill: aliceblue;
    transition: all 0.3s ease-in-out;
}

.icon-link:hover, .icon-link:focus, .icon-link:active{
    fill: #ccc;
}

.title{
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
}

.title span{
    padding-inline: 10px;
    background-color: #0f0f0f;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 40%; 
    left: 0;
    width: 100%; 
    height: 5px;
    background-color: rgb(255, 200, 50);
    z-index: -1;
}