.header{
    display: flex;
    align-items: center;
    justify-content: center;


    &__title{
        font-size: 20px;
    }

    &__nav{
        display: flex;

    }

    a{
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
}

.nav{
    &__item{
        padding: 25px 25px;
        transition: all 0.3s ease-in-out;
    }

    &__item:hover{
        background-color: rgba($color: #fff, $alpha: 0.3);
    }
}
