@media (max-width: 1080px) {
    .about__me {
        margin: 0 25px 25px;
    }
}

@media (max-width: 768px) {
    .about__list::before {
        left: -40%;
    }

    .about__text_me, .about__text_education, .about__list li{
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .nav__item{
        padding: 20px;
    }

    .title{
        font-size: 40px;
    }

    .about__subtitle{
        font-size: 24px;
    }

    .about__text_me, .about__text_education, .about__list li{
        font-size: 16px;
    }

    .about__knowledge .center-icon{
        width: 75px;
        height: 75px;
    }

    .about__knowledge .icon {
        width: 30px;
    }

    .about__knowledge .carousel {
        width: 175px;
        height: 175px;
    }

    .about__text_me, .about__text_education, .about__list li{
        font-size: 16px;
    }

    .contacts__list{
        gap: 75px;
    }
}

@media (max-width: 420px) {
    .about__list{
        left: 5%;
    }

    .about__list::before{
        left: -20%;
    }

    .about__text_me, .about__text_education, .about__list li{
        font-size: 15px;
    }
}